/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
	font-size: 62.5%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

p {
	font-size: 1.6rem;
  line-height: 1.4;
}

/* Start Container */
.container {
	margin: 0 auto;
	width: 100%;
}
/* End Container */

/* Start Header */
header {
	display: flex;
	justify-content: space-between;
	padding: 5%;
}

header nav {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
}

header nav a {
	color: black;
	font-size: 1.6rem;
	text-decoration: none;
}
/* End Header */

/* Start Top Content Section */
.top-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px dashed black;
}

.top-content img {
	width: 100%;
}

.top-content .text-container {
	display: flex;
	flex-direction: row;
	padding: 0 5%;
}

.top-content .text-container-1 {
	display: flex;
	flex-direction: column;
  width: 50%;
	padding: 5%;
}

.top-content .text-container-1 h2 {
	font-size: 2.4rem;
	margin-bottom: 10%;
}
/* End Top Content Section */

/* Start Middle Content Section */
.middle-content {
  border-bottom: 1px dashed black;
	padding: 5%;
}

.middle-content h2 {
	font-size: 2.4rem;
  padding: 0 5%;
	margin-bottom: 5%;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.middle-content .boxes .box {
	font-size: 1.6rem;
  width: 12.5%;
  background: black;
	padding: 4%;
  margin: 3%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content .boxes .box.box1 {
	background-color: teal;
}

.middle-content .boxes .box.box2 {
	background-color: gold;
}

.middle-content .boxes .box.box3 {
	background-color: cadetblue;
}

.middle-content .boxes .box.box4 {
	background-color: coral;
}

.middle-content .boxes .box.box5 {
	background-color: crimson;
}

.middle-content .boxes .box.box6 {
	background-color: forestgreen;
}

.middle-content .boxes .box.box7 {
	background-color: darkorchid;
}

.middle-content .boxes .box.box8 {
	background-color: hotpink;
}

.middle-content .boxes .box.box9 {
	background-color: indigo;
}

.middle-content .boxes .box.box10 {
	background-color: dodgerblue;
}
/* End Middle Content Section */

/* Start Bottom Content Section */
.bottom-content {
  display: flex;
  justify-content: space-around;
	padding: 5%;
}

.bottom-content .text-container {
  padding: 5%;
}

.bottom-content .text-container h2 {
	font-size: 2.4rem;
	margin-bottom: 10%;
}
/* End Bottom Content Section */

/* Start Footer */
footer {
  background: black;
	display: flex;
	justify-content: center;
	padding: 2%;
	width: 100%;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}

footer nav a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
}
/* End Footer */

/* Responsive */

/* == 800px max width == */
@media (max-width: 800px) {
	.top-content .text-container {
		flex-direction: column;
	}

	.top-content .text-container-1 {
	  width: 100%;
	}

	.top-content .text-container-1 h2 {
		margin-bottom: 5%;
	}

	.middle-content .boxes .box {
	  width: 28%;
		padding: 10% 0;
	}

	.bottom-content {
	  flex-wrap: wrap;
	}

	.bottom-content .text-container {
	  width: 50%;
	}
}

/* == 500px max width ==*/
@media (max-width: 500px) {
	p {
		font-size: 2.4rem;
	}

	header {
		flex-direction: column;
		align-items: center;
	}

	header img {
		padding: 5% 0;
	}

	header nav {
		flex-direction: column;
		align-items: center;
	}

	header nav a {
		font-size: 2.4rem;
		padding: 3% 0;
	}

	.top-content img {
		width: auto;
	}

	.top-content .text-container {
		padding: 10% 5%;
	}

	.top-content .text-container-1 h2 {
		font-size: 3.6rem;
		margin-bottom: 12%;
	}

	.middle-content h2 {
		font-size: 3.6rem;
		margin-bottom: 12%;
	}

	.middle-content .boxes .box {
		width: 50%;
		padding: 15% 0;
	}

	.bottom-content .text-container {
		width: 100%;
	}
	footer nav {
	  flex-direction: column;
	}

	footer nav a {
		font-size: 2.4rem;
		padding: 3% 0;
	}

}
